DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=secret
DB_DATABASE=controle_acessos

SMTP_HOST=127.0.0.1
SMTP_PORT=587
SMTP_USER=user@domain.com
SMTP_PASS=password
SMTP_USE_TLS=True
EMAIL_FROM=monitor@domain.com
EMAIL_TO=admin@domain.com

EXCEL_PATH=docs/Softon_Controle de acessos_clientes_VF.xlsx

ALERT_DAYS_BEFORE_EXPIRATION=30
ALERT_USAGE_PERCENTAGE=0.8
